<form method="POST">
    {% csrf_token %}
    <label>user</label>
    <input type="text" name="user">
    <br>
    <label>password</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Autenticar">
</form>

{{ mensaje }}