<!doctype html>
<html>
    <head>
        <style>
            h1 {
                color:red
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>